
ClusterName={{ cluster_name | default('limCluster') }}
SlurmctldHost={{ groups['headnode'][0] }}

# Auth
AuthType=auth/munge
CryptoType=crypto/munge

# Usuarios y Logs
SlurmUser=slurm
SlurmdUser=root
SlurmctldPort=6817
SlurmdPort=6818
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdLogFile=/var/log/slurm/slurmd.log
SlurmdSpoolDir=/var/lib/slurm/slurmd
StateSaveLocation=/var/lib/slurm/slurmctld

# Scheduler y Prioridad
SchedulerType=sched/backfill
SelectType=select/cons_tres
SelectTypeParameters=CR_Core_Memory
PriorityType=priority/multifactor
PriorityWeightAge=1000
PriorityWeightPartition=1000
PriorityWeightQOS=10000

# Accounting
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageHost={{ groups['headnode'][0] }}
JobCompType=jobcomp/filetxt
JobCompLoc=/var/log/slurm/job_completions.log

# Procesos
ProctrackType=proctrack/cgroup
TaskPlugin=task/affinity,task/cgroup

# Definicion de Nodos
{% for host in groups['workers'] %}
NodeName={{ host }} NodeAddr={{ hostvars[host]['ansible_host'] }} CPUs={{ slurm_node_cpus }} RealMemory={{ slurm_node_mem }} State=UNKNOWN
{% endfor %}

# Particiones (nombre de la cola de trabajo: main)
PartitionName=main Nodes=ALL Default=YES MaxTime=1:0:0 State=UP
