# Slurm cgroup support configuration file
# Slurm 23/24: usar plugin de cgroup detectado por el sistema
CgroupPlugin=autodetect

# Contencion de RAM: Evita que un trabajo use mas RAM de la asignada
ConstrainRAMSpace=yes

# Contencion de Swap
ConstrainSwapSpace=yes

# Contencion de Cores: Evita que un trabajo salte a CPUs no asignadas
ConstrainCores=yes

# Dispositivos: Desactivado para entorno virtual sin GPUs
ConstrainDevices=no
