flush ruleset

table inet filter {
    chain input {
        type filter hook input priority 0; policy drop;

        # Aceptar trafico de loopback (localhost)
        iif "lo" accept

        # Aceptar conexiones establecidas y relacionadas
        ct state established,related accept

        # Aceptar ICMP (Ping)
        ip protocol icmp accept

        # Aceptar SSH (Puerto 22)
        tcp dport 22 accept

        # Trafico interno del Cluster (Slurm, Munge, NFS, MySQL)
        ip saddr {{ internal_network_cidr }} accept

        # Permite trafico desde la interfaz de Docker. Necesario para que Prometheus
        iifname "docker0" accept

{% if inventory_hostname in groups['headnode'] %}
        # Permitir acceso a Grafana (3000) solo en el headnode donde corre el dashboard
        tcp dport 3000 accept
{% endif %}

    }
    chain forward {
        type filter hook forward priority 0; policy drop;
    }
    chain output {
        type filter hook output priority 0; policy accept;
    }
}
