---
# ===== Monitoreo con Prometheus y Grafana =====

- name: Instalar Docker y dependencias
  apt:
    name:
      - docker.io
      - python3-pip
    state: present
  tags:
    - install_docker

- name: Asegurar que la libreria Docker para Python este actualizada
  pip:
    name: docker
    state: present
    executable: pip3
  tags:
    - install_docker_python

- name: Crear estructura de directorios para Grafana
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - /etc/grafana/provisioning/datasources
    - /etc/grafana/provisioning/dashboards
    - /etc/grafana/dashboards_json
    - /etc/prometheus
  tags:
    - create_directories

- name: Provisionar Data Source Prometheus
  template:
    src: grafana_datasource.yml.j2
    dest: /etc/grafana/provisioning/datasources/prometheus.yml
    mode: '0644'
  tags:
    - grafana_datasource

- name: Provisionar Provider de Dashboards
  template:
    src: grafana_dashboards.yml.j2
    dest: /etc/grafana/provisioning/dashboards/main.yaml
    mode: '0644'
  tags:
    - grafana_dashboards

- name: Configurar Prometheus (prometheus.yml)
  template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
    mode: '0644'
  notify: Reiniciar contenedor prometheus
  tags:
    - prometheus_config

- name: Verificar si el contenedor de Prometheus ya existe
  shell: docker ps -a -q -f name=prometheus
  register: prom_exist
  ignore_errors: yes
  tags:
    - deploy_prometheus

- name: Desplegar Contenedor Prometheus
  shell: |
    docker run -d --name prometheus \
    --restart always \
    --network host \
    -v /etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml \
    prom/prometheus:latest
  when: prom_exist.stdout == ""
  tags:
    - deploy_prometheus

- name: Verificar si el contenedor de Grafana ya existe
  shell: docker ps -a -q -f name=grafana
  register: graf_exist
  ignore_errors: yes
  tags:
    - deploy_grafana

- name: Eliminar Grafana antiguo para actualizar volumenes
  shell: docker rm -f grafana
  when: graf_exist.stdout != ""
  tags:
    - deploy_grafana

- name: Descargar Dashboard Node Exporter Full (ID 1860)
  get_url:
    url: https://grafana.com/api/dashboards/1860/revisions/latest/download
    dest: /etc/grafana/dashboards_json/node-exporter-full.json
    mode: '0644'
  tags:
    - download_dashboard

- name: Corregir el Data Source en el JSON del Dashboard
  replace:
    path: /etc/grafana/dashboards_json/node-exporter-full.json
    regexp: '\$\{DS_PROMETHEUS\}'
    replace: 'Prometheus'
  tags:
    - fix_dashboard

- name: Desplegar Contenedor Grafana
  shell: |
    docker run -d --name grafana \
    --restart always \
    --network host \
    -e "GF_SECURITY_ADMIN_PASSWORD=admin" \
    -v /etc/grafana/provisioning:/etc/grafana/provisioning \
    -v /etc/grafana/dashboards_json:/var/lib/grafana/dashboards \
    grafana/grafana:latest
  tags:
    - deploy_grafana
