global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'slurm-cluster'
    static_configs:
      - targets:
        # Loop para agregar el headnode y todos los workers dinamicamente
        - '{{ hostvars[groups["headnode"][0]]["ansible_host"] }}:9100'
{% for host in groups['workers'] %}
        - '{{ hostvars[host]["ansible_host"] }}:9100'
{% endfor %}