AuthType=auth/munge
DbdAddr={{ hostvars[groups['headnode'][0]]['ansible_host'] }}
DbdHost={{ groups['headnode'][0] }}
DbdPort=6819
SlurmUser=slurm
DebugLevel=4
LogFile=/var/log/slurm/slurmdbd.log
PidFile=/run/slurmdbd.pid

# Configuracion de Base de Datos
StorageType=accounting_storage/mysql
StorageHost=localhost
StoragePort=3306
StoragePass={{ db_slurm_pass }}
StorageUser={{ db_slurm_user }}
StorageLoc={{ db_slurm_name }}