---
# ===== Playbook de configuracion inicial para la conectividad entre hosts =====

- name: Instalar SSHPASS para la conexion ssh de headnode a workers
  hosts: headnode
  become: yes
  gather_facts: yes

  roles:
    - initial_setup

  post_tasks:
    - name: Mensaje final de configuracion general
      debug:
        msg:
          - "========================================="
          - " Configuracion Inicial Completada"
          - "========================================="