---
# ===== Playbook de configuracion para todos los hosts =====

- name: Configuracion General de todo el cluster
  hosts: all
  become: yes
  gather_facts: yes

  roles:
    - common
    - firewall
    - ldap

  post_tasks:
    - name: Mensaje final de configuracion general
      debug:
        msg:
          - "========================================="
          - "Configuracion General Completada"
          - "========================================="