---
# ===== Playbook de configuracion para los workers =====
  
- name: Configuraciones especificas de los workers
  hosts: workers
  become: yes
  gather_facts: yes
  
  roles:
    - munge
    - chrony_client
    - nfs_client
    - slurmd

  tasks:
    # Configurar SSH keys
    - name: Configurar SSH keys en workers
      include_role:
        name: ssh_keys
        tasks_from: workers

  post_tasks:
    - name: Mensaje final de configuracion de los workers
      debug:
        msg:
          - "========================================="
          - "Configuracion de los Workers Completada"
          - "========================================="